<!-- first section - Home -->
<div id="home" class="home">
<div class="text-vcenter">
<h3>If you agree that a Programmer is a machine that turns coffee into code ..</h3>
<h3>You are you worthy to <a href="#about" class="btn btn-default btn-lg">scroll down</a></h3>

</div>
</div>
<!-- /first section -->





<!-- second section - About -->
<div id="about" class="pad-section">
<div class="container">
<div class="row">
<div class="col-sm-6 text-center">
<img src="profile_pic.jpg" alt="" style = "border-radius: 100%; width: 50%;" />
</div>
<div class="col-sm-6 text-center" style="    color: white;">
<!-- <h2>Jacob is an avid Programmer currently persuing his Master's in Computer and Information technology from the University of Pennsylvania</h2> -->
<h3 style = "text-align: justify;">Jacob is an avid Programmer currently pursuing his Master's in Computer and Information technology from the University of Pennsylvania</h3>
<h3 style = "text-align: justify;">He brings with him learnings and experiences gained at Deloitte Consulting LLP where he worked as a Business Technology Analyst for two years</h3>
<p class="lead">If you wish to know more about him, continue scrolling down further ..</p>
</div>
</div>
</div>
</div>
<!-- /second section -->




<!-- third section - Services -->
<div id="services" class="pad-section">
<div class="container">
<h2 class="text-center">Skills</h2> <hr />
<div class="row text-center">

<div class="col-sm-3 col-xs-6">
<i class="glyphicon glyphicon-globe"> </i>
<h4>Web Technologies</h4>
<p>HTML, CSS, JS, AJAX, JQuery, Bootstrap, Ruby on Rails , SAPUI5</p>
</div>

<div class="col-sm-3 col-xs-6">
<i class="glyphicon glyphicon-leaf"> </i>
<h4>Programing Languages</h4>
<p>JAVA, C, Rails, ABAP</p>
<br>
<br>
</div>

<div class="col-sm-3 col-xs-6">
<i class="glyphicon glyphicon-briefcase"> </i>
<h4>Operating Systems</h4>
<p>Linux, Windows, Mac OS</p>
</div>

<div class="col-sm-3 col-xs-6">
<i class="glyphicon glyphicon-briefcase"> </i>
<h4>Enterprise Technologies</h4>
<p>Experience working with Supply Chain, Sales and Distribution and Customer Relationship Management Technologies</p>
</div>

</div>
</div>
</div>
<!-- /third section -->





<!-- fourth section - Information -->
<div id="information" class="pad-section">
<div class="container">
<div class="row">
<div class="col-md-6 col-sm-12">
<div class="panel panel-default">
<div class="panel-heading">
<h2 class="panel-title">MedimailHub</h2>
</div>
<div class="panel-body lead">
<!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="http://www.medimailhub.us"></iframe>
</div>
</div>
<div class="panel-footer">
<h5 class="">www.MedimailHub.us is a Patient/Provider portal built in collaboration with Dr.Ajay of Penn Medicine. It is a one stop solution to provide a way of medical providers to interract with each other and their patients. Features of the app include a secure messaging interface, document sharing system as well as a video call service with an inbuilt payment system</h5>
</div>
</div>
</div>.
<div class="col-md-6 col-sm-12">
<div class ="row">	
<div class="col-sm-12">
<div class="panel panel-default">
<div class="panel-heading">
<%= link_to "Deloitte Consulting LLP", pdfjs.minimal_path(file: "/JacobVarghese.pdf") %>
</div>
<div class="panel-body lead" style="text-align: justify;">
<h5>Lead a team of full stack developers to design, develop and deliver two web applications that is currently being used by Deloitte US-India to help manage resources' availability for their recruitment drives. Developed the web page using SAPUI5 framework and ported it to a mobile app across platforms using PhoneGap with Cordova plugins. Implemented the back-end on a Netweaver Gateway system that communicated with the UI using Open Rest Interfaces via OData protocols.Analysed relationships to model the persistence MySQL layer using normalized database concepts.</h5>
</div>
</div>
</div>

<div class="col-sm-12">
<div class="panel panel-default">
<div class="panel-heading">
<%= link_to "Optimized data transfer in Multimedia Wireless Sensor Networks", pdfjs.minimal_path(file: "/JacobVarghese.pdf") %>
</div>
<div class="panel-body lead" style="text-align: justify;">
<h5>Optimized data stream (Music and Video) using PCA based reduction techniques. Performed a detailed analysis on the implementation of the algorithm to ensure that it was both scalable and robust. Successfully decreased the data size required tobe transmitted for a multi channel audio signal and multi frame video.Deduced that the algorithm worked successfully for
compression by half but is not so effective for compression by one fourth in videos.</h5><br>
</div>
</div>
</div>
</div>
</div>

<div class="col-sm-12">
<div class="panel panel-default">
<div class="panel-heading">
<%= link_to "Resume", pdfjs.minimal_path(file: "/JacobVarghese.pdf") %>
</div>
<div class="panel-body lead" style="height:400px;">
<%= pdfjs_viewer pdf_url: "/JacobVarghese.pdf", style: :full %>
</div>
</div>
</div>

<div class="col-sm-6"></div>

</div>
</div>
</div>
<!-- /fourth section -->


<!-- fifth section -->
<div id="services" class="pad-section">
<div class="container">
<div class="row">
<div class="col-sm-12 text-center">
<h1 >Contact me &nbsp;&nbsp;&nbsp;
<a href="https://www.facebook.com/jacobv1992"> <i class="fa fa-facebook-square" aria-hidden="true" style="font-size:36px; color: white;" ></i></a> &nbsp;

<a href="https://github.com/JacobVarghese1992"> <i class="fa fa-git-square" aria-hidden="true" style="font-size:36px; color: white;"></i></a> &nbsp;

<a href="https://plus.google.com/u/0/108144306138913116656"> <i class="fa fa-google-plus-square" aria-hidden="true" style="font-size:36px; color: white;"></i></a> &nbsp;

<a href="https://www.linkedin.com/in/jacob-varghese-68736654"> <i class="fa fa-linkedin-square" aria-hidden="true" style="font-size:36px; color: white;"></i></a></h1>


</div>
</div>
</div>
</div>
<!-- /fifth section -->
<!-- google map -->
<div id="google_map" class ="container">	
	<%= render 'contact_form.html.erb' %>
</div>
<!-- /google map -->
<!-- footer -->
<footer>
<hr />
<div class="container">
<p class="text-right">Copyright &copy; Your Company 2014</p>
</div>
</footer>
<!-- /footer -->

<script>
				
$(document).ready(function() {
	$('a[href*=#]').bind("click", function(event) {
		event.preventDefault();
		var ziel = $(this).attr("href");

		$('html,body').animate({
			scrollTop: $(ziel).offset().top
		}, 700 , function (){location.hash = ziel;});
         });
});
</script>
