<!-- first section - Home -->
<div id="home" class="home">
<div class="text-vcenter">
<h3>If you agree that a Programmer is a machine that turns coffee into code ..</h3>
<h3>You are worthy to scroll down <a href="#about" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-chevron-down"></span></a> </h3>

</div>
</div>
<!-- /first section -->





<!-- second section - About -->
<div id="about" class="pad-section">
<div class="container">
<div class="row">
<div class="col-sm-6 text-center">
<img src="profile_pic.jpg" alt="" style = "border-radius: 100%; width: 50%;" />
</div>
<div class="col-sm-6 text-center" style="    color: white;">
<!-- <h2>Jacob is an avid Programmer currently persuing his Master's in Computer and Information technology from the University of Pennsylvania</h2> -->
<h3 style = "text-align: justify;">Jacob is an avid Programmer currently pursuing his Master's in Computer and Information technology from the University of Pennsylvania looking for full time positions as a Software Engineer or a Product Manager.</h3>
<h3 style = "text-align: justify;">He brings with him technical learnings and experiences gained at his Google Internship and Deloitte Consulting LLP where he worked for two years as a technology Consultant</h3>
<p class="lead">If you wish to know more about him, continue scrolling down further ..</p>
</div>
</div>
</div>
</div>
<!-- /second section -->




<!-- third section - Services -->
<div id="services" class="pad-section">
<div class="container">
<h2 class="text-center">Skills</h2> <hr />
<div class="row text-center">

<div class="col-sm-3 col-xs-6">
<i class="glyphicon glyphicon-globe"> </i>
<h4>Web Technologies</h4>
<p>HTML, CSS, JS, AJAX, jQuery, SQL, Angular 2, Node.js, Bootstrap, Ruby on Rails, Drupal 8, SAPUI5</p>
</div>

<div class="col-sm-3 col-xs-6">
<i class="glyphicon fa fa-code" aria-hidden="true"> </i>
<h4>Programing Languages</h4>
<p>Java, Python, C, C++, Ruby, Matlab, ABAP</p>
<br>
<br>
</div>

<div class="col-sm-3 col-xs-6">
<i class="glyphicon fa fa-database"> </i>
<h4>Big Data and ML</h4>
<p>TensorFlow, Spark, scikit-learn, MapReduce, Pandas</p>
</div>

<div class="col-sm-3 col-xs-6">
<i class="glyphicon glyphicon-briefcase"> </i>
<h4>Enterprise Technologies</h4>
<p>Experience working with Supply Chain, Sales and Distribution, Finance and Customer Relationship Management Technologies</p>
</div>

</div>
</div>
</div>
<!-- /third section -->





<!-- fourth section - Information -->
<div id="information" class="pad-section">
<div class="container">
<div class="row">
<!-- <div class="row">	 -->


<div class="col-md-6 col-sm-12">
<div class="panel panel-default">
<div class="panel-heading">
<%= link_to "Distributed Cloud Service(Google Apps Clone)", "https://www.MedimailHub.us" %>
</div>
<div class="panel-body lead">
<h5 class="">Implemented distributed cloud services that support multi-user authentication, a webmail service with causal ordering, a documents storage service and an admin console to troubleshoot, start and stop running servers. 
Incorporated replication and a primary based sequential consistency with fault tolerance using deterministic playback of a persistent log file for redundancy in the backend. 
Simulated a distributed Google Big Table data store and developed all the servers and monitors in C++ including the frontend HTTP servers and the backend data service servers. Used gRPC and proto3 to communicate between the backend and the frontend servers. Frontend servers responded to HTTP requests via TCP and the RFC2616 standards.

</h5>
</div>
</div>
</div>




<div class="col-md-6 col-sm-12">
<div class="panel panel-default">
<div class="panel-heading">
<%= link_to "MedimailHub", "https://www.MedimailHub.us" %>
</div>
<div class="panel-body lead">
<h5 class="">Developed <a href="https://www.MedimailHub.us">www.MedimailHub.us</a> , a web application that provides a secure portal for medical physicians to interact with and provide consultations to patients and other physicians remotely. Built a secure messaging , document and reports sharing and video chat (OpenTok) features that strictly adheres to HIPAA laws. Utilizing Angular2 as the base framework, MySQL for the database, the application incorporates most major modern web technologies and is highly optimized for mobile browsers. Implemented push notifications using Firebase Cloud Messaging.
<br>
<br>
<br>
<b>GitHub:</b>  <a href="https://github.com/cit-upenn/cis-557-projects-fall-2016-medimailhub">Repository</a>
</h5>
</div>
</div>
</div>


<div class="col-md-6 col-sm-12">
<div class="panel panel-default">
<div class="panel-heading">
<%= link_to "Lung nodule detection for cancer prediction", "https://www.MedimailHub.us" %>
</div>
<div class="panel-body lead">
<h5 class="">
Utilized lung segmentation and K-means on annotated lung CT scans from the LUNA16 Dataset. Trained a U-Net architecture based Convolutional Neural Network model to learn and identify cancer nodules present. Testing and validation showed an accuracy of 82%. Implemented the model in Python, using UNETs with 2D CNNs on Keras with a Tensorflow backend.
<br>
<br>
<b>GitHub:</b>  <a href="https://github.com/cit-upenn/cis-557-projects-fall-2016-medimailhub">Repository</a>
</h5>
</div>
</div>
</div>


<div class="col-md-6 col-sm-12">
<!-- <div class ="row">	 -->
<!-- <div class="col-sm-12"> -->
<div class="panel panel-default">
<div class="panel-heading">
<%= link_to "PennSkype - A peer to peer Skype clone", pdfjs.minimal_path(file: "/JacobVarghese.pdf") %>
</div>
<div class="panel-body lead" style="text-align: justify;">
<h5>Built a peer to peer Skype clone in Java for video calls over the same network. Principal Component Analysis based image compression
was implemented using the Java Math(JAMA) library to reduce latency in data transmission. Transmitted the compressed data between
IPs with socket programming. User Interface was designed using MVC principles in swing. Handled concurrency for simultaneous
transmission, compression/reconstruction, and display with threads.

<br>
<br>
<br>
<b>GitHub:</b>  <a href="https://github.com/chrisschlitt/WebcamCompression">Repository</a>
</h5>
</div>
</div> 
</div>
<!-- </div> -->

<div class="col-md-6 col-sm-12">
<!-- <div class ="row">		 -->
<div class="panel panel-default">
<div class="panel-heading">
<%= link_to "Recruitment availability tracker Web and Mobile application", pdfjs.minimal_path(file: "/JacobVarghese.pdf") %>
</div>
<div class="panel-body lead" style="text-align: justify;">
<h5>Lead a team of full stack developers to design, develop and deliver two web applications that is currently being used by Deloitte US-India to help manage resource's availability for their recruitment drives. Developed the web page using SAPUI5 framework and ported it
to a mobile app across platforms using PhoneGap with Cordova plugins. Implemented the back-end on a Netweaver Gateway system
that communicated with the UI using Open Rest Interfaces via OData protocols. Handled and analyzed relationships to model the
persistence MySQL layer using normalized database concepts.</h5><br>
</div>
</div>
</div>
<!-- </div> -->

<!-- </div> -->

<!-- <div class="row"> -->
<div class="col-md-6 col-sm-12">
<div class="panel panel-default">
<div class="panel-heading">
<%= link_to "Optimized data transfer in Multimedia Wireless Sensor Networks", pdfjs.minimal_path(file: "/JacobVarghese.pdf") %>
</div>
<div class="panel-body lead" style="text-align: justify;">
<h5>Optimized data stream (Music and Video) using PCA based reduction techniques. Performed a detailed analysis on the implementation of the algorithm to ensure that it was both scalable and robust. Successfully decreased the data size required tobe transmitted for a multi channel audio signal and multi frame video.Deduced that the algorithm worked successfully for
compression by half but is not so effective for compression by one fourth in videos.</h5><br>
</div>
</div>
</div>


<div class="col-md-6 col-sm-12">
<div class="panel panel-default">
<div class="panel-heading">
<%= link_to "SAP ABAP developer for MNCs in the Textile and Healthcare Industries at Deloitte", pdfjs.minimal_path(file: "/JacobVarghese.pdf") %>
</div>
<div class="panel-body lead" style="text-align: justify;">
<h5>Worked as an SAP resource involving translation of business requirements to robust code. Part of two successful project cycles including design, implementation, testing and delivery phases and worked in teams with members from across the globe. Developed code that
directly impacted the client's business and reduced supply chain workflow times to less than 10% of original. Adhered to strict
performance along with sterling OOP coding standards for a client that had a previous failed attempt to computerize the business. </h5><br>
</div>
</div>
</div>

<!-- </div> -->


<div class="col-sm-12">
<div class="panel panel-default">
<div class="panel-heading">
<%= link_to "Resume Software Engineer", pdfjs.minimal_path(file: "/JacobVarghese.pdf") %>
</div>
<div class="panel-body lead" style="height:400px;">
<%= pdfjs_viewer pdf_url: "/JacobVarghese.pdf", style: :full %>
</div>
</div>
</div>

<div class="col-sm-12">
<div class="panel panel-default">
<div class="panel-heading">
<%= link_to "Resume Product Manager", pdfjs.minimal_path(file: "/JacobVarghesePM.pdf") %>
</div>
<div class="panel-body lead" style="height:400px;">
<%= pdfjs_viewer pdf_url: "/JacobVarghesePM.pdf", style: :full %>
</div>
</div>
</div>

</div>

<div class="col-sm-6"></div>


</div>
</div>
</div>
<!-- /fourth section -->


<!-- fifth section -->
<div id="services" class="pad-section">
<div class="container">
<div class="row">
<div class="col-sm-12 text-center">
<h1 >Contact me &nbsp;&nbsp;&nbsp;
<a href="https://www.facebook.com/jacobv1992"> <i class="fa fa-facebook-square" aria-hidden="true" style="font-size:36px; color: white;" ></i></a> &nbsp;

<a href="https://github.com/JacobVarghese1992"> <i class="fa fa-git-square" aria-hidden="true" style="font-size:36px; color: white;"></i></a> &nbsp;

<a href="https://plus.google.com/u/0/108144306138913116656"> <i class="fa fa-google-plus-square" aria-hidden="true" style="font-size:36px; color: white;"></i></a> &nbsp;

<a href="https://www.linkedin.com/in/jacob-varghese-68736654"> <i class="fa fa-linkedin-square" aria-hidden="true" style="font-size:36px; color: white;"></i></a></h1>


</div>
</div>
</div>
</div>
<!-- /fifth section -->
<!-- google map -->
<div id="google_map" class ="container">	
	<%= render 'contact_form.html.erb' %>
</div>
<!-- /google map -->
<!-- footer -->
<footer>
<hr />
<div class="container">
<p class="text-right" style ="color:white;"><a href="https://github.com/JacobVarghese1992/ProfilePage" style ="color:white;"><small>

<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
<br>
	This site was not developed using any automated web building tools. Click the link for the source code.</small></a></p>
</div>
</footer>
<!-- /footer -->

<script>
				
$(document).ready(function() {
	$('a[href*=#]').bind("click", function(event) {
		event.preventDefault();
		var ziel = $(this).attr("href");

		$('html,body').animate({
			scrollTop: $(ziel).offset().top
		}, 700 , function (){location.hash = ziel;});
         });
	scroll();
	$( "#submit" ).click(function() {
  		emailjs.send("default_service","template_nNExiXcH",{reply_to: $('#email').val(), from_name: $('#name').val(), to_name: $('#name').val(), message_html: $('#ebody').val() });
  		$('#name').val("");
  		$('#email').val("");
  		$('#ebody').val("");	
	});

});

function scroll() {
    setTimeout(function(){
        window.scrollTo(0,0);
    }, 2000);
}

</script>
